[{twitterminer, [
  {twitter_accounts,[
    {account1,[
      {api_key, "TWt9S5K45tofGnX25kpDQRX2M"},
      {api_secret, "ZDbaxi9iuzKDdwZejUBGsQg2ttuBkzMpmhfhsZFkzNToVqGTvR"},
      {access_token, "219269147-GVQqzkonmm0jG01agrLzuLJL2KxjqwSS5PPFHHzQ"},
      {access_token_secret, "kO1j3XdhiqrYXpTAd7sW5dXNYbbL4DSTzjDWYoDJcHjrX"}]}]},
  {riak_nodes,[
    {riak1,[
    {host, "127.0.0.1"},
    {port, 10017}]}]}]}].
