[{twitterminer, [
  {twitter_accounts,[
    {account1,[
      {api_key, "XXXXXXXXXXXXXXXXXXXXXXXX"},
      {api_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
      {access_token, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"},
      {access_token_secret, "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"}]}]},
  {riak_nodes,[
    {riak1,[
    {host, "127.0.0.1"},
    {port, 10017}]}]}]}].
